@model StationaryUI_7463.Models.Stationary

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StationaryItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

       
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryOfProduction)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
